@model IEnumerable<db_first_approach_2202E2.Models.TblStd>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StdName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StdAge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StdEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StdProfile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StdCityNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StdName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StdAge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StdEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StdProfile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StdCityNavigation.CId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StdId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StdId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StdId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
